body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(75, 72, 71);
}
.editor-container {
  max-width: 600px;
  margin: 2rem auto;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem;
  background-color: brown;
  color: white;
  font-size: 1.5rem;
}
.toolbar i {
  cursor: pointer;
}
.toolbar i:hover {
  filter: brightness(0.8);
}
#editor {
  width: 100%;
  min-height: 200px;
  margin-bottom: -5px;
  resize: vertical;
  outline: none;
  padding-left: 5px;
  padding-top: 5px;
  font-size: 1rem;
  color: rgb(106, 11, 111);
  /* background-color: #c0d8d8; */
  border: 1px solid #1d2f2f;
  box-shadow: 1px 1px 10px 2px rgb(75, 72, 71);
  border-top: none;
}

.preview-container {
  max-width: 630px;
  margin: 1.25rem auto;
  min-height: 200px;
  overflow-wrap: break-word;
  background-color: white;
  border: 1px solid #1d2f2f;
  box-shadow: 1px 1px 10px 2px rgb(75, 72, 71);
  border-top: none;
}
#preview {
  padding: 0 2rem;
}
#preview img {
  width: 80%;
}

.maximized {
  min-height: 100vh;
  margin: auto;
}
.maximized #editor {
  min-height: 95vh;
  resize: none;
}
.hide {
  display: none;
}
